* {
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #16161a; */
  background-image: url("purpfog.gif");
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  display: flex;
  border: 6px solid #00fa9a;
}

.banner {
  display: flex;
  justify-content: space-around;
}

.extra-icons {
  display: flex;
  justify-content: space-around;
}

.extra-icons a {
  color: #00fa9a;
  text-decoration: none;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.name {
  color: #a786df;
  display: flex;
  justify-content: center;
}

/* @font-face {
  font-family: 'frozenregular';
  src: url('frozen-webfont.woff2') format('woff2'),
       url('frozen-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} */
.link {
  background-color: #9EFDDA;
background: -webkit-linear-gradient(bottom, #9EFDDA, #CDBBFF);
background: -moz-linear-gradient(bottom, #9EFDDA, #CDBBFF);
background: linear-gradient(to top, #9EFDDA, #CDBBFF);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 40px;
}

.link:hover {
  background-color: #000000;
}

.link a {
  color: #a786df;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}
